.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container>div {
  margin: 2em;
  width: 90vw;
}

#message-list>div {
  margin-bottom: 1em;
  border: 1px solid blue;
  background-color: lightblue;
  border-radius: 5px;
}

#form-send-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

#form-send-message>* {
  margin: 1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container>div {
    width: 40vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}